<app-leftmenu></app-leftmenu>
<div class="container margen">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Receiver</th>
                <th scope="col">Subject</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sent of sents">
                <td>{{ sent.receiver }}</td>
                <td>{{ sent.subject }}</td>
                <td>{{ sent.description }}</td>
            </tr>
        </tbody>
    </table>
</div>