<app-leftmenu></app-leftmenu>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Receiver</th>
                <th scope="col">Subject</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of drafing">
                <td> {{ d.receiver }} </td>
                <td> {{ d.subject }} </td>
                <td> {{ d.description }} </td>
            </tr>
        </tbody>
    </table>
</div>